html,body {
    background: rgb(33,33,33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}
h1 {
    text-align: center;
}
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
a:link {
    color: gray;
}
a:visited {
    color: lightskyblue;
}
/* for monaco */
.wrapper {
    padding: 0 5%;
}
#monaco-editor-root {
    height: calc(100vh - 7.5rem - 70px);
}
